<?xml version="1.0" encoding="UTF-8"?>
<FlowDefinition xmlns="urn:com:ericsson:schema:xml:oss:fbp_flow" xmlns:oc="urn:com:ericsson:schema:xml:oss:oss_common" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" oc:ns="com.ericsson.oss.services" oc:name="CSLSolutionSet" oc:version="1.0.0">
   <oc:modelCreationInfo author="${author}" creationDate="${creationDate}">
      <oc:designedModel componentId="${componentId}" />
   </oc:modelCreationInfo>
   <oc:desc>${description}</oc:desc>
  	#foreach ($adatper in $ipAdatperlist)
	#set( $completeUri = $adatper.uri.protocol + $adatper.uri.address)
	#if($adatper.uri.args) #set( $completeUri = $completeUri + "?") #end
	#foreach($uriArg in ${adatper.uri.args}) #set( $completeUri = $completeUri + $uriArg.getKey()+"="+$uriArg.getValue()) #if( $foreach.hasNext ) #set($completeUri = $completeUri +"&") #end #end 
	
	<input name="${adatper.name}">
	#set($completeUri = $completeUri.replace("[", ""))
	#set($completeUri = $completeUri.replace("]", ""))
	#set ($tokenIndex = $completeUri.length() - 8)  
	#if($completeUri.indexOf('?format=') == $tokenIndex) #set($completeUri = $completeUri.replace("?format=", "")) #end
	#set ($tokenIndex = $completeUri.length() - 1)  
	#if($completeUri.indexOf('?') == $tokenIndex) #set($completeUri = $completeUri.replace("?", "")) #end	
		<attribute name="uri" value="${completeUri}" />
#addAttributes(${adatper.attributes})
	</input>
#end
	
#foreach ($adatper in $opAdatperlist)
	#set( $completeUri = $adatper.uri.protocol + $adatper.uri.address)
	#if($adatper.uri.args) #set( $completeUri = $completeUri + "?") #end
	#foreach($uriArg in ${adatper.uri.args}) #set( $completeUri = $completeUri + $uriArg.getKey()+"="+$uriArg.getValue()) #if( $foreach.hasNext ) #set($completeUri = $completeUri +"&") #end #end 
	
	<output name="${adatper.name}">
	#set($completeUri = $completeUri.replace("[", ""))
	#set($completeUri = $completeUri.replace("]", ""))
	#set ($tokenIndex = $completeUri.length() - 8)  
	#if($completeUri.indexOf('?format=') == $tokenIndex) #set($completeUri = $completeUri.replace("?format=", "")) #end
	#set ($tokenIndex = $completeUri.length() - 1)  
	#if($completeUri.indexOf('?') == $tokenIndex) #set($completeUri = $completeUri.replace("?", "")) #end	
		<attribute name="uri" value="${completeUri}" />
#addAttributes(${adatper.attributes})
	</output>
#end
	
	<step name="${name}-spark-sql-batch">
	  <!-- URI associated with spark-sql-batch -->
      <attribute name="uri" value="spark-batch-sql://${name}" />
	  <!-- For cluster mode remove the msater.url as you are going to supply during spark-submit -->
      <attribute name="master.url" value="local[*]" />
	  <!-- Provide your SQL query here -->
      <attribute name="sql" value="SELECT * FROM <table_NAME> " />
      <!-- Provide additional properties as per application requirements -->
	</step> 

	<path>
#foreach ($adatper in $ipAdatperlist)
#if ($velocityCount == 1)
		<from uri="$adatper.name" />
#else
		<to uri="$adatper.name" />
#end
#end
		<!-- User has to replace Step-Name based on step information -->
		<to uri="${name}-spark-sql-batch" />
#foreach ($adatper in $opAdatperlist)
		<to uri="$adatper.name" />
#end 
	</path>
</FlowDefinition>

#macro(addAttributes $attributes)
#foreach($attribute in ${attributes} )
		<attribute name="${attribute.key}" value="${attribute.value}" />
#end
#end
